{{define "Change"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Change</title>
</head>
<body>
    <div class="container {{if .Condition}}odd{{else}}even{{end}}">
        {{if .Condition}}
        <p>Le nombre de vues est impair : {{.Vues}}</p>
        {{else}}
        <p>Le nombre de vues est pair : {{.Vues}}</p>
        {{end}}
    </div>
</body>
</html>
{{end}}