{{define "Form"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/formStyle.css">
    <title>Form</title>
</head>
<body>
    <form action="/user/treatment" method="post">
        <label for="name">Nom</label>
        <input type="text" name="nom" id ="name" title="uniquement composé de lettres, avec une taille entre 1 et 32 caractères">
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" id ="prenom" title="uniquement composé de lettres, avec une taille entre 1 et 32 caractères">
        <label for="bday">Date de naissance</label>
        <input type="text" name="bday" id ="bday" required>
        <label for="sexe">Sexe</label>
        <select name="sexe" id="sexe">
            <option value="masculin">Masculin</option>
            <option value="feminin">Féminin</option>
            <option value="autre">Autre</option>
        </select>
        <button type="submit">Valider</button>
    </form>
</body>
</html>
{{end}}